---
name: Checks

on: [push]

jobs:
  test-lint:
    name: Test and Lint
    runs-on: ubuntu-22.04
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Install Docker Compose  
        run: |  
          sudo curl -L "https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose  
          sudo chmod +x /usr/local/bin/docker-compose  
          
      - name: Check Docker Compose version  
        run: docker-compose --version  
        
      - name: Tests
        run: docker-compose run --rm app sh -c "python manage.py test"
        
      - name: Lint
        run: docker-compose run --rm app sh -c "flake8 --config=.flake8"
